# ==============================================================================
# Project
# ==============================================================================

# 빌드된 파일이 생성되는 디렉토리
build/

# ==============================================================================
# Bower
# ==============================================================================

# Bower 패키지가 설치되는 디렉토리
bower_components/

# ==============================================================================
# Node
# ==============================================================================

# NPM 패키지가 설치되는 디렉토리
node_modules/

# NPM 디버그
npm-debug.log

# 이하 OS 관련 규칙들은 가급적이면 수정하지 말 것.
# 단, 프로젝트 관련 디렉토리 중 디렉토리명이 icon인 디렉토리가 있으면
# OSX의 Icon 규칙은 삭제해야 함.

# ==============================================================================
# Windows
# ==============================================================================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# ==============================================================================
# OSX
# ==============================================================================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon/**


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ==============================================================================
# Linux
# ==============================================================================

*~

# KDE directory preferences
.directory

# ==============================================================================
# EditPlus
# ==============================================================================

*.tmp
*.bak

# ==============================================================================
# Sublime Text
# ==============================================================================

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

#sftp configuration file
sftp-config.json

# ==============================================================================
# ETC.
# ==============================================================================

*.stackdump
